name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Set up Ko
        uses: ko-build/setup-ko@v0.6

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          sep-labels: ','
          sep-tags: ','

      - name: Get bare tags from metadata
        id: bare-tags
        run: |-
          readarray -td, tags <<<"${{ steps.meta.outputs.tags }},"; unset 'tags[-1]'; declare -p tags;
          for index in "${!tags[@]}"; do tags[$index]=$(echo ${tags[$index]} | sed 's/.*://'); done;
          echo "tags=$(IFS=,; echo "${tags[*]}")" >> "$GITHUB_OUTPUT";

      - name: Build and push Docker image
        run: |-
          ko build --base-import-paths --tags "${{ steps.bare-tags.outputs.tags }}" --image-label "${{ steps.meta.outputs.labels }}"